body{
    font-family:"Franklin Gothic Light" ;

}


.home-page{
    background-color:rgb(156, 220, 236) ;
}

.navbar{
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
}
.navbar a{
    font-size: large;
    text-decoration: none;
}


.home-content{
    text-align: center ;
}
.home-content p{
    font-size: small;

}





